<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="container my-5">
  <h2 class="text-center mb-4">Room Display</h2>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      <% @rooms.each do |rooms| %>
        <% rooms.schedules.map do |room| %>
          <% occupied = room.day == Time.current.strftime("%A") &&
            room.start_time.strftime('%I:%M %p') <= Time.current.strftime('%I:%M %p') &&
            room.end_time.strftime('%I:%M %p') >= Time.current.strftime('%I:%M %p') %>

          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title text-center">Room <%= rooms.room_number %></h5>
                <% if occupied %>
                  <p class="text-center text-danger fw-bold">Occupied</p>
                <% else %>
                  <p class="text-center text-success fw-bold">Available</p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>