<div class="header-bg py-3">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="d-flex align-items-center">
      <%= link_to admin_root_path, class: "d-flex align-items-center text-decoration-none" do %>
        <img src="/assets/tup.jpg" alt="TUP Logo" class="rounded-circle me-3" style="height: 50px; width: 50px;">
        <span class="brand-name">Technological University of the Philippines</span>
      <% end %>
    </div>

    <div class="d-flex align-items-center">
      <a href="#" class="btn btn-light me-2">Edit Profile</a>
      <%= button_to "Sign Out", destroy_admin_user_session_path, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>